.phonelist{
    display:flex; 
    flex-wrap: wrap;
}

.phonecard{
    margin: auto; 
    height: 45vw; 
    width: 45vw; 
    position: relative; 
    margin-top: 5vh; 
  }
  
  
  .phonecard-square{
    position: relative; 
    background-color: #E3E3E3; 
    height: 45vw; 
    width: 45vw;  
    z-index: 10;
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
  }


  .phonecard:nth-of-type(1) .phonecard-square-bottom,  .phonecard:nth-of-type(4) .phonecard-square-bottom, .phonecard:nth-of-type(5) .phonecard-square-bottom{
    display: none; 
  }
  .phonecard:nth-of-type(2) .phonecard-square, .phonecard:nth-of-type(6) .phonecard-square{
    background-color: #124191; 
  }
  .phonecard:nth-of-type(2) .phonecard-square-bottom, .phonecard:nth-of-type(6) .phonecard-square-bottom{
    background-color: #E3E3E3;
  }

  .phonecard-square>div{
      display: flex; 
      flex-direction: column; 
      width: 25%; 
      height: 90%; 
  }

  .phonecard-img-container>a{
    display: flex;
    justify-content: center; 
    align-items: center;
    overflow: hidden;
    height: 700px
  }
  .phonecard-img-container>a>img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
  }
  
  .phonecard-square>div>div>a>img{
      height: 30vw;   
  }
  
  .phonecard-square-bottom{
    background-color: #124191;
    height: 45vw; 
    width: 45vw; 
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: 0;   
  }