/* general stuff */
@font-face{
  font-family: 'NokiaPureTWeb'; 
  src: local('NokiaPureTWeb'), url('./Fonts/NokiaPureTWeb_Rg.ttf') format('truetype'); 
  font-weight: normal; 
}

@font-face{
  font-family: 'NokiaPureTWeb'; 
  src: local('NokiaPureTWeb'), url('./Fonts/NokiaPureTWeb_Bd.ttf') format('truetype'); 
  font-weight: bold; 
}


@font-face{
  font-family: 'NokiaPureTWeb'; 
  src: local('NokiaPureTWeb'), url('./Fonts/NokiaPureTWeb_Lt.ttf') format('truetype'); 
  font-weight: lighter; 
}

@font-face{
  font-family: 'NokiaPureHeadline'; 
  src: local('NokiaPureHeadline'), url('./Fonts/NokiaPureHeadline_Rg.ttf') format('truetype'); 
  font-weight: normal; 
}

@font-face{
  font-family: 'NokiaPureHeadline'; 
  src: local('NokiaPureHeadline'), url('./Fonts/NokiaPureHeadline_Bd.ttf') format('truetype'); 
  font-weight: bold;
}

@font-face{
  font-family: 'NokiaPureHeadline'; 
  src: local('NokiaPureHeadline'), url('./Fonts/NokiaPureHeadline_Lt.ttf') format('truetype'); 
  font-weight: lighter; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: NokiaPureHeadline, NokiaPureTWeb;
}

/* gladys */

/* matias */

.navbar-wrapper {
  height: 50px;
  background-color: pink;
}

.navbar {
  display: flex;
  
}

.logo-wrapper {
  display: flex;
  margin-left: 40%;
}

.logoNokia {
  width: 160px;
  margin-top: 3px;
}

.logoSeparator {
  background: black;
  width: 1px;
  height: 18px;
  margin: 28px 0px 0px -8px;
}

.logoPhonesAnchor {
  font-family: NokiaPureHeadline, monospace; 
  font-size: 18px;
  font-weight: bold;
  margin: 26px 15px;
}


.banner-wrapper {
  height: 300px;
  background-color: lightseagreen;
}


.which-phone-banner {
  height: 300px;
  background-color: lightslategray;
}



/* anne */


/* test */

.header {
  display: flex;
  justify-content: space-between;
}

.phone-list-wrapper {
  background: lightblue;
}

.phone-list-test {
  display: flex;
  justify-content: center;
}

.phone-list {
  width: 250px;
  margin: 10px;
}

.phone-list img {
  width: 100%;
}
