/* general stuff */
@font-face {
  font-family: "NokiaPureTWeb";
  src: local("NokiaPureTWeb"),
    url("./Fonts/NokiaPureTWeb_Rg.ttf") format("truetype");
  weight: normal;
}

@font-face {
  font-family: "NokiaPureTWeb";
  src: local("NokiaPureTWeb"),
    url("./Fonts/NokiaPureTWeb_Bd.ttf") format("truetype");
  weight: bold;
}

@font-face {
  font-family: "NokiaPureTWeb";
  src: local("NokiaPureTWeb"),
    url("./Fonts/NokiaPureTWeb_Lt.ttf") format("truetype");
  weight: lighter;
}

@font-face {
  font-family: "NokiaPureHeadline";
  src: local("NokiaPureHeadline"),
    url("./Fonts/NokiaPureHeadline_Rg.ttf") format("truetype");
  weight: normal;
}

@font-face {
  font-family: "NokiaPureHeadline";
  src: local("NokiaPureHeadline"),
    url("./Fonts/NokiaPureHeadline_Bd.ttf") format("truetype");
  weight: bold;
}

@font-face {
  font-family: "NokiaPureHeadline";
  src: local("NokiaPureHeadline"),
    url("./Fonts/NokiaPureHeadline_Lt.ttf") format("truetype");
  weight: lighter;
}
*/ * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: NokiaPureHeadline, NokiaPureTWeb;
}

/* gladys */

/* matias */

.banner-wrapper {
  height: 300px;
  background-color: lightseagreen;
}

.navbar-wrapper {
  height: 50px;
  background-color: pink;
}

.navbar {
  color: blue;
}

.which-phone-banner {
  height: 300px;
  background-color: lightslategray;
}

/* anne */

/* test */

.header {
  display: flex;
  justify-content: space-between;
}

.phone-list-wrapper {
  background: lightblue;
}

.phone-list-test {
  display: flex;
  justify-content: center;
}

.phone-list {
  width: 250px;
  margin: 10px;
}

.phone-list img {
  width: 100%;
}
